Assignment 

1)

In [1]:
input_str = "google.com"
char_count = {}
for char in input_str:
    if char in char_count:
        char_count[char] += 1
    else:
        char_count[char] = 1

print(char_count)

{'g': 2, 'o': 3, 'l': 1, 'e': 1, '.': 1, 'c': 1, 'm': 1}

2)

In [3]:
def check_key_in_dict(input_dict, key):
    if key in input_dict:
        return True
    else:
        return False

sample_dict = {'g': 2, 'o': 3, 'l': 1, 'e': 1, '.': 1, 'c': 1, 'm': 1}
key_to_check = 'b'

if check_key_in_dict(sample_dict, key_to_check):
    print(f"The key '{key_to_check}' already exists in the dictionary")
else:
    print(f"The key '{key_to_check}' does not exist in the dictionary")

The key 'b' does not exist in the dictionary

3)

In [5]:
input_str = input("Enter a sequence of numbers: ")

num_list = input_str.split(",")
num_tuple = tuple(num_list)


print("List:", num_list)
print("Tuple:", num_tuple)

Enter a sequence of comma-separated numbers: 1,3,66,45,18,,12
List: ['1', '3', '66', '45', '18', '', '12']
Tuple: ('1', '3', '66', '45', '18', '', '12')

4)

In [7]:
from datetime import datetime

start_date_str = input("Enter the start date (in YYYY-MM-DD format): ")
end_date_str = input("Enter the end date (in YYYY-MM-DD format): ")

start_date = datetime.strptime(start_date_str, "%Y-%m-%d")
end_date = datetime.strptime(end_date_str, "%Y-%m-%d")

# calculate the number of days between the dates considering date differences as absolute values
num_days = abs((end_date - start_date).days)


print(f"Number of days between {start_date_str} and {end_date_str}: {num_days} days")

Enter the start date (in YYYY-MM-DD format): 2022-12-3
Enter the end date (in YYYY-MM-DD format): 2012-10-3
Number of days between 2022-12-3 and 2012-10-3: 3713 days

5)

In [8]:
x = float(input("Enter the value of x: "))
y = float(input("Enter the value of y: "))

result = (x + y) * (x + y)

print(f"The result of ({x} + {y})^2 is {result}")

Enter the value of x: 45
Enter the value of y: 34
The result of (45.0 + 34.0)^2 is 6241.0

6)

In [9]:
principat = float(input("Enter the principal amount: "))
rate = float(input("Enter the annual interest rate (%): "))
years = int(input("Enter the number of years: "))

future_value = principal * (1 + rate/100) ** years

print(f"The future value is {future_value:.2f}")

Enter the principal amount: 1255423
Enter the annual interest rate (%): 3
Enter the number of years: 56
The future value is 6571653.62

7)

In [10]:
def remove_duplicates(nums):
    unique_nums = list(set(nums))
    return unique_nums, len(unique_nums)


numbers = [0, 0, 1, 1, 2, 2, 3, 3, 4, 4, 4]
unique_numbers, new_length = remove_duplicates(numbers)
print(f"The list of unique numbers: {unique_numbers}")
print(f"The new length of the array is {new_length}")

The list of unique numbers: [0, 1, 2, 3, 4]
The new length of the array is 5

8)

In [12]:
sample_dict = {'b': 2, 'c': 1, 'a': 3}

# Sort by key in ascending order
sorted_dict = dict(sorted(sample_dict.items()))

print(sorted_dict)

# Sort by key in descending order
sorted_dict = dict(sorted(sample_dict.items(), reverse=True))

print(sorted_dict)

{'a': 3, 'b': 2, 'c': 1}
{'c': 1, 'b': 2, 'a': 3}

9)

In [11]:
sample_dict = {0: 10, 1: 20}
key = 2
value = 30

sample_dict[key] = value

print(sample_dict)

{0: 10, 1: 20, 2: 30}

10)

In [13]:
import pandas as pd
import numpy as np


exam_data = {'name': ['Arif', 'Asir', 'Arik', 'Anis', 'Anil', 'Ashish', 'Anahi', 'Alia', 'Alvin', 'Asim'],
             'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19], 
             'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1], 
             'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']


df = pd.DataFrame(exam_data, index=labels)


print(df)

     name  score  attempts qualify
a    Arif   12.5         1     yes
b    Asir    9.0         3      no
c    Arik   16.5         2     yes
d    Anis    NaN         3      no
e    Anil    9.0         2      no
f  Ashish   20.0         3     yes
g   Anahi   14.5         1     yes
h    Alia    NaN         1      no
i   Alvin    8.0         2      no
j    Asim   19.0         1     yes